div.presentation-content
  h1.presentation-title Custom Property Retro Buttons
  div.top-button-group
    button.retro-button Start
    button.retro-button Select
  div.bottom-button-group
    button.retro-button.red-button A
    button.retro-button.yellow-button B
    button.retro-button.blue-button X
    button.retro-button.green-button Y
